$color:white;
$fondo:black;

@mixin caja-texto ($fondo, $color, $borde) {
    background-color: $fondo;
    color: $color;
    display: flex;
    justify-content: center;
    border-radius: $borde;
}

;