*{
    padding: 0;
    margin: 0;
}

$ancho: 100%;
/*GENERALES*/


.noticias, .quienes-index, .seccion-preguntas, .seccion-contactos, footer, .destacados, .titulo-destacados, .marcas{
    width: $ancho - 10%;
    margin: auto;
    max-width: 1920px;
    margin-top: 0px;
}

#rojo, .idrojo{
    color: red !important;
}
