/* TODO AL HEADER*/
.icon-desplegable {
    display: flex;
    height: auto;
    align-content: center;
    justify-content: center;
    
}
.icono-carrito{
    width: 90%;
    height: 90%;
}

.primera-linea {
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 10px;
    
}

.span-desp{
    height: 35px;
    width: 35px;
    .boton-desp{
    width: 100%;
    }
}
.color {
    background-image: url(../MULTIMEDIA/plantillabanner.jpg);

}

.nav-links {
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 1.5rem;
}

.nav-item:hover .nav-links {
    color: red;
}

.nav-item {
    padding: 20px;
}

.desple {
    background-color: black;

}

.desple li a {
    color: white;
}

.navbar {
    display: contents;
}

.icono-dk:hover img {
    transform: rotate(360deg);
    transition: transform 1s;
}