/* TODO AL HEADER*/

/*TAMAÑOS Y EFECTOS ICONOS*/
.icon-desplegable {
    display: flex;
    height: auto;
    align-content: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    .boton-desp{
        width: 100%;
        }
    
}
.icono-carrito, .lupa-icon{
    width: 25px;
    height: 25px;
}
.icono-dk{
    img{
        width: 80px;
        height: 80px;
    }
}
.icono-dk:hover img {
    transform: rotate(360deg);
    transition: transform 1s;
}

/*FIN TAMAÑO Y EFECTOS ICONOS*/

.primera-linea {
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 10px;
    
}
.color {
    background-image: url(../MULTIMEDIA/plantillabanner.jpg);

}


.nav-item:hover .nav-links {
    color: red;
}
.nav-item {
    padding: 5px 20px;
    margin: auto;
    .nav-links {
        color: white;
        font-family: 'Exo', sans-serif;
        font-size: 1.5rem;
    }
}

.desple {
    background-color: black;
    li{
        a{
            color: white;
        text-align: center;
        }
    }
}
.navbar {
    display: contents;
}
/*FIN FONDOS Y COLOR DE TEXTO*/

