@media only screen and (max-width:550px){
    .card-index{
        width: 50%;
    }
}
@media only screen and (max-width:800px) {

    html {
        font-size: 13px;
    }

    .noticia-uno {
        width: auto;
    }

    .noticia-unoydos {
        display: block;

    }

    .noticia-dos {
        width: 95%;
    }

    .col {
        flex: auto;
    }

    .fotos-row {
        width: 70%;
    }

    .footer-tres ul li img {
        width: 20px;
        height: 20px;
    }

    .iconos-redes {
        width: 20px;
    }
    .caja-mapa{
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .caja-contacto-dos{
        width: 100%;
    }
    
}

@media only screen and (min-width:800px) {
    html {
        font-size: 13px;
    }

    .footer-tres ul li img {
        width: 20px;
        height: 20px;
    }
    .card-index{
        width: 100% !important;
    }

}

@media only screen and (min-width:1024px) {



    html {
        font-size: 13px;
    }

    nav .lista-menu li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-family: 'Signika', sans-serif;
        font-size: 1rem;

    }
    
    .card-index{
        margin: auto;
        width: 100% !important;
    }
}


@media only screen and (min-width:1200px) {
    html {
        font-size: 16px;
    }

    nav .lista-menu li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-family: 'Signika', sans-serif;
        font-size: 1.3rem;

    }
}