@import '../base/maps';
/* NOSOTROS*/
$color-textos: rgb(255, 255, 255);
$color-fondo-titulo: black;





.caja-titulo-nosotros {
    width: 90%;
    margin: auto;

    h2 {
        @include caja-texto($fondo,$color,10px);
        padding: 10px;
        margin-top: 10px;
        font-family: map-get($titulos, font);
        letter-spacing: 6px;
    }

}
.container-nosotros {
    background-image: url(../MULTIMEDIA/Sitio-Fondo.jpg);
    background-size: cover;
    width: 90%;
    margin: auto;
    padding: 3%;
}
.sub-nosotros {
    display: flex;
    justify-content: center;
    color: $color-textos;
    font-family: map-get($titulos, font);
    font-size: map-get($subtitulos, font-size);

    text-align: center;
}
.color-parrafo-quienes {
    color: $color-textos;
    font-family: map-get($textos, font);
    text-align: center;
    font-size: map-get($textos, font-size);
}



.rows-principales {
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-fotos {
    display: flex;

    img {
        border-radius: 10px;
        margin: auto;
        width: 60%;
        border: solid 3px rgb(94, 93, 93);
    }
}