@import '../base/maps';
@import '../base/mixins';

/* GALERIA */
.seccion-galeria {
    width: 90%;
    margin: auto;


    h2 {
        @include caja-texto($fondo, $color, 10px);
        padding: 10px;
        margin-top: 10px;
        font-family: map-get($titulos, font);
        font-size: map-get($titulos, font-size);
        letter-spacing: map-get($titulos, letter-spacing);
    }

    .galeria {
        img {
            width: 100%;
            margin-bottom: 10px;
            height: 100%;
            transition: transform 0.5s;
        }

        a {
            display: block;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 6px rgba(0, 0, 0, .5);

        }

    }


}

.galeria a:hover img {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.1);

}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform .3s ease-in-out;

    img {
        width: 45%;
    }

}

.light-box:target {
    transform: scale(1);
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: rgb(255, 255, 255);
    border: solid 3px black;
    text-decoration: none;
    width: 40px;
    height: 40px;

    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next {
    display: block;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid black;

    line-height: 30px;

    img {
        width: 40px;
    }
}